# testing data
data/*
utils/src/data
qgis/*
*.lock
*.h5
*.pub
*.pem

# VSCode
.vscode/*

# Mac
**/.DS_Store
.dbus*

# History and AWS
.aws
.bash_history
.cache
.local
.python_history

# hide secrets
.creds
.config
.ssh

# terraform
.terraform
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
